<div class="sub-nav">
  <a routerLink="genericunit" routerLinkActive="active">GenericUnit </a>
  <a routerLink="numunit" routerLinkActive="active">NumUnit </a>
  <a routerLink="stringunit" routerLinkActive="active">StringUnit </a>
  <a routerLink="boolunit" routerLinkActive="active">BoolUnit </a>
  <a routerLink="dictunit" routerLinkActive="active">DictUnit </a>
  <a routerLink="listunit" routerLinkActive="active">ListUnit </a>
  <a routerLink="asyncsystem" routerLinkActive="active">AsyncSystem </a>
</div>
<main>
  <router-outlet></router-outlet>
</main>
