<section class="main-section">
  <img class="brand-logo" src="assets/logo.svg" alt="ActiveJS" />

  <h1>Pragmatic, Reactive State Management for JavaScript Apps</h1>

  <a class="get-started-btn btn" href="https://docs.activejs.dev" target="_blank" rel="noopener">
    Get Started
  </a>

  <code #element (click)="copyToClipboard(element)" [class.show-clipboard]="showClipboard">
    {{ npmInstallCmd }}
  </code>
</section>

<div class="group-section">
  <section>
    <h2><span class="emoji">💫</span> Reactive State</h2>
    <p>
      Simple, granular, reactive state, made possible by independent
      <b>reactive data structures</b> that are based on <b>native data structures</b>, and extend
      <b>RxJS' Observable</b>.
    </p>
  </section>

  <section>
    <h2><span class="emoji">✨</span> Extensive Features</h2>
    <p>
      Features like <b>undo/redo</b>, <b>persistence</b>, <b>immutability</b> and
      <b>observable events</b> come built in with ActiveJS' <b>reactive data structures</b>.
    </p>
  </section>

  <section>
    <h2><span class="emoji">🚥</span> Streamline Async APIs</h2>
    <p>
      ActiveJS provides mechanisms that make streamlining and sharing
      <b>asynchronous data APIs'</b> state <b>effortless</b>.
    </p>
  </section>

  <section>
    <h2><span class="emoji">🍭</span> Succinct & Simple</h2>
    <p>
      ActiveJS strives to enhance DX by <b>reducing boilerplate</b>, and <b>limiting</b> the amount
      of <b>abstract utility concepts</b>.
    </p>
  </section>
</div>
