<div class="m p">
  <b><span class="emoji">📌</span> Notes:</b>
  <ul>
    <li class="p">
      You can interact with the current instance directly in the CONSOLE.
    </li>
    <li class="p">
      All the inputs above are being evaluated using <code>eval</code> to allow all data types like
      <code>object</code>, <code>array</code>, <code>number</code>, etc.<br /><br />

      <b>example:</b><br />
      <code>4</code> is evaluated as <code>number</code>, to pass string use <code>'4'</code>.<br />
      Empty input is equal to <code>undefined</code>.<br /><br />

      For errors please check console because <code>eval</code> can and will fail.
    </li>
    <li class="p">
      All the outputs/values above are being visualized using
      <code>JSON.stringify</code>, and may not be 100% accurate, as <code>JSON</code> is only a
      subset of JavaScript.<br /><br />

      <b>example:</b><br />
      <code>JSON.stringify(null)</code> produces <code>"null"</code> <br />
      <code>JSON.stringify(Infinity)</code> produces <code>"null"</code> <br />
      <code>JSON.stringify(NaN)</code> also produces <code>"null"</code>
    </li>
  </ul>
</div>
